body {
    background-color: rgb(254, 245, 235);
    text-align: center;
}

h1 {
    display: inline-block;
    color:tomato;
    font-size: 50px;
    border-bottom-style: dotted;
}
.cookies{
    color:rgb(253, 0, 0)
}
.chocolate-cake{
    color:rgb(0, 255, 102)
}
.scones{
    color:rgb(0, 47, 255)
}



li{
    text-align: left;
}

a.home-button{
    display: block;
    text-align: center;
    color: rgb(179, 90, 45);
    font-size: 24px;
}

a {
    display: block;
    text-align: center;
    color: rgb(212, 73, 73);
    font-size: 24px;
}
